[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
black = "22.1.0"
chromedriver-py = "==97.0.4692.71"
django = "4.0.1"
django-environ = "0.8.1"
django-extensions = "3.1.5"
django-mptt = "0.13.4"
django-treebeard = "4.5.1"
pipdeptree = "2.2.1"
pipfile-sort = "0.2.2"
pre-commit = "2.17.0"
pytest = "6.2.5"
pytest-django = "4.5.2"
pytest-factoryboy = "2.1.0"
pytest-selenium = "2.0.1"
pytest-sugar = "0.9.4"
werkzeug = "2.0.2"

[requires]
python_version = "3.8"
